.headStyle {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2px 0;
}

.mainStyle {
    background-color: lightgrey;
    padding: 1em;
}

.backgroundStyle {
    display: inline-block;
    position: absolute;
    background-image: url("record.png");
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    z-index: -1;
    top: 0;
    animation: spinBackground 6s linear infinite;
}

.backgroundStyle2 {
    display: inline-block;
    position: absolute;
    background-image: url("record.png");
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    z-index: -1;
    top: 0;
    animation: spinBackground 9s linear infinite;
}

body {
    margin: 0;
}

@keyframes spinBackground {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

#circle1,
#circle5 {
    left: 0;
}

#circle2,
#circle6 {
    left: 25%;
}

#circle3,
#circle7 {
    left: 50%;
}

#circle4,
#circle8 {
    left: 75%;
}

#circle5,
#circle6,
#circle7,
#circle8 {
    top: 50%;
}